name: dart_style
# Note: See tool/grind.dart for how to bump the version.
version: 1.3.0-dev
author: Dart Team <misc@dartlang.org>
description: >-
  Opinionated, automatic Dart source code formatter.
  Provides an API and a CLI tool.
homepage: https://github.com/dart-lang/dart_style

environment:
  sdk: '>=2.3.0 <3.0.0'

dependencies:
  analyzer: '>=0.38.0 <0.39.0'
  args: '>=0.12.1 <2.0.0'
  path: ^1.0.0
  source_span: ^1.4.0

dev_dependencies:
  grinder: ^0.8.0
  pedantic: ^1.0.0
  pub_semver: ^1.2.3
  test: ^1.6.0
  test_descriptor: ^1.0.0
  test_process: ^1.0.0
  yaml: ^2.0.0

executables:
  dartfmt: format
  dartformat: format # Allow the old name for compatibility.
